/* Setting */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.6;
}

.image-full {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 2em;
}

a {
    text-decoration: none;
    color: black;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    line-height: 1.2;
    letter-spacing: -0.5px;
}

p {
    font-weight: 400;
    margin: 0;
    margin-top: 0.5em;
    line-height: 1.4;
}

.strong {
    font-weight: 400;
}

.less-strong {
    font-weight: 600;
}

.mag-side {
    padding: .5em;
}

.hidden {
    display: none !important;
}

/* header */
header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

header .icon-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .icon-title h1 {
    display: inline;
    color: #1B4965;
    font-size: 3rem;
    font-weight: 700;
}

header .icon-title h1 span {
    color: #5FA8D3;
}

header .icon-title i {
    transform: scale(2);
    color: #1B4965;
}

header .filter-bar {
    text-align: center;
}

header .filter-bar p {
    font-size: 1.5em;
    margin-bottom: 1rem;
}

.alert-text{
    color: red;
    font-weight: bold;
    display: none;
    text-align: center;
}

/* wrapper */

.wrapper {
    background: var(--white, #FFF);
    position: relative;
}

.select-btn,
li {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.select-btn {
    border: 3px solid #1B4965;
    color: var(--gray-900, #111827);

    font-size: 1rem;
    font-weight: 400;
    padding: .27rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper.active .select-btn {
    border: 3px solid #5FA8D3;
}

.select-btn span {
    padding-top: .1rem;
    padding-left: .5rem;
    display: flex;
    align-items: center;
    gap: .6rem;
}

.select-btn span div{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.select-btn span img{
    width: 30px;
    border-radius: 50%;
}

.select-btn i {
    font-size: 1.5em;
    color: #9CA3AF;
    padding-top: .2rem;
    padding-right: .4rem;
    transition: transform 0.3s linear;
}

.wrapper.active .select-btn i {
    padding-left: .4rem;
    transform: rotate(-180deg);
}

.content {
    display: none;


    position: absolute;
    top: 49px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.wrapper.active .content {
    display: block;
}

.content .options {
    border-radius: 0.375rem;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.10);
    background-color: white;
    margin: 0;
    padding-right: 7px;
    padding: 0;
}

.options li {
    padding: 0.5rem 0.75rem;

    color: var(--gray-900, #111827);

    font-size: 1rem;
    font-weight: 400;
}

.options li div{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.options li img{
    width: 30px;
    border-radius: 50%;
}

.options li:hover,
li.selected {
    border-radius: 5px;
    background: #f2f2f2;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li.selected i {
    padding-top: .5rem;
    color: #5FA8D3;
}

/*----------------------------------- */
.d-flex {
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
}

header .filter-bar input {
    border: 3px solid #1B4965;
    background: #FFF;
    padding: .7rem;
    font-size: 1rem;
    outline: none;
}

header .filter-bar input:focus {
    border: 3px solid #5FA8D3;
}

header .filter-bar button {
    border: 3px solid #1B4965;
    background: #5FA8D3;
    padding: .7rem;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    transition: all .3s;
}

header .filter-bar button:hover {
    border: 3px solid #5FA8D3;
    background: #1B4965;
    color: #5FA8D3;
}

header .wrapper {
    width: 267px;
}

header .your-channel{
    width: 544px;
}

/* main */
main.default {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
}

main h3 {
    text-align: center;
}

main h2 {
    color: #1B4965;
    font-size: 2.25rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

/* video */

.video {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 2rem;
}

.video section .thumbnail {
    cursor: pointer;
}

.video section .thumbnail img{
    width: 100%;
    border-radius: 10px;
}

.video section .thumbnail .image-container {
    position: relative;
    width: 100%;
    border-radius: 7px;
}

.video section .thumbnail .image-container i{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translate(45%, 40%);
    scale: 0;
    font-size: 2.5em;
    color: rgb(216, 200, 200);
    z-index: 9;
    transition: scale .3s ease;
}

.video section .thumbnail .image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 8px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.video section .thumbnail:hover .image-container::after{
    opacity: 1;
}

.video section .thumbnail:hover .image-container i{
    scale: 1;
} 

.video section .information {
    display: flex;
    gap: 1rem;
}

.video section .information img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.video section .detail h4 {
    color: #282828;
    font-size: 1.125rem;
    font-weight: 600;
    cursor: pointer;
}

.video section .detail{
    width: 100%;
}

.video section .detail p {
    margin: 0;
}

.video section .channel-add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
}

.video section .channel-add p {
    cursor: pointer;
}

/* channel-list */
.channel-list{
    max-width: 600px;
    margin: 0 auto;
}

.channel-list section {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
}

.channel-list section img{
    border-radius: 50%;
}

.channel-list section:not(:last-child) {
    border-bottom: 1px solid #E5E7EB;
}

.channel-list section .image {
    cursor: pointer;
}

.channel-list section img {
    cursor: pointer;
    width: 100px;
}

.channel-list .information-channel .title {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

.channel-list .information-channel .title h3 {
    font-size: 1.125rem;
    font-weight: 500;
}

.channel-list .information-channel .title i {
    font-size: .7rem;
    color: #FEC654;
}

.channel-list .information-channel .title span {
    color: #111827;
    font-size: 0.75rem;
    font-weight: 400;
}

.channel-list .information-channel .middle {
    display: flex;
    gap: 2rem;

    color: #111827;
    font-size: 0.75rem;
    font-weight: 400;
}

.channel-list .information-channel .middle p:last-of-type {
    transition: all .3s;
    border: 1px solid transparent;
    border-radius: 70%;
    cursor: pointer;
}

.channel-list .information-channel .descriptive {
    color: #6B7280;
    font-size: 0.875rem;
    font-weight: 400;
}

.channel-list .information-channel .descriptive span {
    font-weight: 700;
    cursor: pointer;
}


/* Responsive */
@media (max-width: 630px) {
    .d-flex {
        flex-direction: column;
        gap: .6rem;
        justify-content: center;
        align-items: center;
    }

    header .filter-bar p {
        font-size: 1em;
    }

    header .your-channel{
        width: 270px;
    }
}